@media only screen and (min-width : 320px) {
	body{
		overflow: scroll;
	}
	svg{
		overflow: scroll;
	}
	path.spiral {fill: none;}
	.arc-text {
	font: 14px sans-serif;
	font-weight: 100;
	}

	h3 {
	font: 24px 'Helvetica','Arial',sans-serif;
	text-align: center;
	font-weight: 800;
	}

	.arc-center {
	fill: none;
	}

	.orange{
	  fill: orange;
	  color: orange;
	}
	.hover{
	position: fixed;
	bottom: 0;
	left: 0;
	opacity: .8;     
	// width: 100%;                  
	padding: 15px;       
	font: 14px 'Helvetica','Arial',sans-serif; 
	font-weight: 800;   
	background: white; 
	border: 1px black dashed;
	text-align: center;   

	}

	#flex{
	display: flex;
	align-items: center;
	flex-wrap:wrap;
	justify-content:center;
	}

	#about h1{
	  font-size: 36px;

	  text-transform: uppercase;
	  padding: 5px;
	}

	#about{
	  background-color: #eee;
	}

	.nav li {
	text-align: center;
	padding: 5px;
	display: inline-block;
	font: 14px sans-serif;
	background-color: #eee;
	}
	.nav li:hover{
	background-color: papayawhip;
	}

	.selected li {
	background-color: papayawhip;
	}    

	.nav h1{
	font-family: 'Helvetica','Arial',sans-serif;
	font-size: 14px;
	}

	#list{
	width: 100%;
	}

	#list h3{
	  // rotate, just because
	}
	#nav div{
	text-align: center;
	}
	.listspan{
		border: 1px black dashed;
		// background-color:papayawhip;
		text-align: left;
		color: black;
		margin-top: 1px;
		font-family: sans-serif;
		padding: 12px;
		line-height: 1.25;
		font-size: 12px;

	}
}

@media only screen and (min-width : 1024px) {
	#nav{
	display: flex;
	justify-content: center;
	padding: 5px;
	//width: 100%;
	font: 14px 'Helvetica','Arial',sans-serif;
	text-align: left;
	align-items: center;
	}
	#about, #dates, #types, #viewunravel{
	  width:25%;
	  margin: 5px;
	}
	#about h1{
		text-align:left;
	}
	#list{
	width: 100%;
	}

	#list h3{
	  // rotate, just because
	}
	.listspan{
		text-align: center;
	}
}