		 path.spiral {fill: none;}
     .arc-text {
      font: 14px sans-serif;
      font-weight: 100;
    }

    .arc-center {
      fill: none;
    }
    .hover{
    position: absolute;
    align-items: center;  
    top: 25px;
    left: 5px;        
    width: 260px;                  
    padding: 5px;       
    font: 14px sans-serif;    
    background: papayawhip; 
    border: 0px;    
    border-radius: 8px;     
    pointer-events: none;   

  }